
<div class="container" id="homepage">
<div class="wrapper">

  <div class="row">
    <div class= "col-md-12">
        <h1 class="title" id="jumbotron-title">Experimental Musical Instruments</h1>
    </div>
  </div>
    
    <div class="row">
      <div class="col-md-12" id="bottom-title">
        <h2 class="title">Design. Build. Play.</h2>
        <h2 class="title-paragraph">We are a group dedicated to spreading musical interest through the creation and performance of musical instruments.</h2>
      </div>
      <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary homebutton" %>
      
    </div>
    
  
</div>

<div id="triangle-right"></div>
<div id="triangle-left"></div>

<div class="grid1">
 
    <figure class="effect-dexter">
        <img src="<%= image_path('img/1.jpg') %>" alt="img 01" />                                                 
        <figcaption>
            <h2>Build <span>Instruments</span></h2>
            <p>Find your passion</p>
            <a href="#"><%= link_to "Experimental",  instruments_path %></a>
        </figcaption>         
    </figure>
    
    <figure class="home-arrow-box">
        <figcaption class="caption-one">
            <p>No matter what your tastes are, we'll find a way to accomdate you.</p>
        </figcaption> 
        <figcaption class="caption-two">
          <p>We're always building new things, and we're always open to new ideas.</p>
        </figcaption>
    </figure>
    
    <figure class="effect-sadie">
      <img src="<%= image_path('img/2.jpg') %>" alt="img 02" />
      <figcaption>
        <h2>Perform <span>Together</span></h2>
        <p>Practice and create music</p>
        <a href="#"><%= link_to "Performance",     performance_path %></a>
      </figcaption>
    </figure>
    
    <figure class="effect-oscar">
      <img src="<%= image_path('img/10.jpg') %>" alt="img 010" />
      <figcaption>
        <h2>About Us: <span>hear our story</span></h2>
        <p>How we got started, where we're going</p>
        <a href="#"><%= link_to "About",       about_path %></a>
      </figcaption>
    </figure>
    
    <figure class="effect-bubba">
      <img src="<%= image_path('img/5.jpg') %>" alt="img 05" />
      <figcaption>
        <h2>Contact: <span>Get in touch</span></h2>
        <p>Get Involved</p>
        <a href="#"><%= link_to "Contact",     contact_path %></a>
      </figcaption>
    </figure>
    
    <figure class="effect-sarah">
      <img src="<%= image_path('img/7.jpg') %>" alt="img 07" />
      <figcaption>
        <h2>Sign Up: <span>Get Connected</span></h2>
        <p>Stay up to date</p>
        <a href="#"><%= link_to "Sign Up",         signup_path %>   </a>
      </figcaption>
    </figure>
     
</div>




      