<section class="performance-jumbotron">
    
    <div class="row">
        <div class="col-md-12 performance-column">
            <h1>Performance</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 .performance-column-lower">
            <h2 class="subtitle">Bringing together the best talent in Ann Arbor</h2>
        </div>
    </div>
    
    <nav class="band-links">
        <div class="band-box">
          <a href="#" id="link1">
              <span class="cache"></span>
              <div class="band-title">
                  <p class="title">
                      Alternative Rock
                  </p>
              </div>
          </a>
        </div>
        
        <div class="band-box">
          <a href="#" id="link2">
              <span class="gradient"></span>
              <div class="band-title">
                  <p class="title">
                      Rock
                  </p>
              </div>
          </a>
        </div>
        
        <div class="band-box">
          <a href="#" id="link3">
              <span class="gradient"></span>
              <div class="band-title">
                  <p class="title">
                      New Groups
                  </p>
              </div>
          </a>
        </div>
        
        <div class="band-box">
          <a href="#" id="link4">
              <span class="gradient"></span>
              <div class="band-title">
                  <p class="title">
                      Location
                  </p>
              </div>
          </a>
        </div>
    </nav>
    </div>
</section>



<section class="performance-altrock">
    <a name="id1"></a>
    <div class="col-md-6">
        <h1>Alternative Rock</h1>
        <p>Our Alternative Rock group combines old school rock and roll with the sounds of newer groups like Kings of Leon and The Killers.  Two guitarists provide a full sound while the addition of two vocalists gives this group a wide range of musical possibilities.  With its diverse set of engineers and neuuroscience majors, this group defines what Experimental Musical Instruments is all about.  </p>
    </div>
    <div class="grid-altrock">
        <figure><a href="assets/performance/Altrock/Altrock_1.jpg"><img src="<%= image_path('performance/Altrock/Altrock_1.jpg') %>" alt="img 01" /></a></figure>
        <figure><a href="assets/performance/Altrock/Altrock_2.jpg"><img src="<%= image_path('performance/Altrock/Altrock_2.jpg') %>" alt="img 01" /></a></figure>
        <figure><a href="assets/performance/Altrock/Altrock_3.jpg"><img src="<%= image_path('performance/Altrock/Altrock_3.jpg') %>" /></a></figure>
        <figure><a href="assets/performance/Altrock/Altrock_4.jpg"><img src="<%= image_path('performance/Altrock/Altrock_4.jpg') %>" /></a></figure>
    </div>
    <div class="col-md-6 mobile-bandlist">
       
           
            <ul class="song-list">
                <li id="list-title">Bands Played</li>
                <li>Foo Fighters</li>
                <li>Rise Against</li>
                <li>Red Hot Chili Peppers</li>
                <li>Kings of Leon</li>
                <li>The Killers</li>
                <li>Nirvana</li>
            </ul>
            
            <ul class="logistics">
                <li>Skill Level: Intermediate - Advanced</li>
                <li>Practice Time:  Tuesday 8:30 PM</li>
                <li>Location: Randall Lab</li>
            </ul>
            
            <ul class="members">
                <li id="list-title">Members</li>
                <li>Vocals:  Jessica Garrison</li>
                <li>Vocals: Schuyler Robinson</li>
                <li>Guitar:  James Holper</li>
                <li>Guitar: Andrew Taylor</li>
                <li>Bass Guitar: Jake Klein</li>
                <li>Percussion: Patrick Schoeps</li>
            </ul>
        
      <secion class="recruitment">
        <h2>Interested?</h2>
         <div class="buttons">
          <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary homebutton" %>
          
          <span>Or</span>
          
          <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary homebutton" %>
         </div>
          <br>
          <span id="information">For More Information</span>
          
     </secion>
                
    </div>
</section>

<section class="performance-image1">
</section>


<section class="performance-rock">
    <a name="id2"></a>
        <div class="col-md-6">
            <h1>Rock</h1>
            <p>Our Rock group pushes the boundaries of our member's musical talent with artists like Tool and Motley Crue.  Complex guitar riffs compliment technical drumming resulting in a performance that constantly pushes us to be the best.  The group's diverse musician set includes Neuroscience majors, Music Composition, and Astrophysicists.</p>
        </div>
        
        <div class="col-md-6 performance-rock-col2 mobile-bandlist">
       
            
            <ul class="song-list">
                <li id="list-title">Bands Played</li>
                <li>Tool</li>
                <li>Royal Blood</li>
                <li>Foo Fighters</li>
                <li>Motley Crue</li>
                <li>Shallow</li>
            </ul>
            
            <ul class="logistics">
                <li>Skill Level: Intermediate-Advanced</li>
                <li>Practice Time:  Monday 8:30 PM</li>
                <li>Location: Randall Lab</li>
            </ul>
            
            <ul class="members">
                <li id="list-title">Members</li>
                <li>Vocals:  Position Available!</li>
                <li>Guitar:  Ben Harmsen</li>
                <li>Bass Guitar: Nelson Gast</li>
                <li>Percussion: Patrick Schoeps</li>
            </ul>
      
      <secion class="recruitment">
        <h2>Interested?</h2>
         <div class="buttons">
          <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary homebutton" %>
          
          <span>Or</span>
          
          <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary homebutton" %>
         </div>
          <br>
          <span id="information">For More Information</span>
          
     </secion>
                
    </div>
</section>
        
</section>

<section class="performance-image1">
</section>


<section class="performance-newgroups">
    <a name="id3"></a>
        <div class="col-md-6">
            <h1>New Groups</h1>
            <p>All of our groups are based entirely on student interest.  If you play any type of instrument, or have ideas about a new group you think we should create, please reach out!  We're always looking for musicians of all skill level that are looking to perform and improve their musical abilities. </p>
        </div>
        <div class="col-md-6">
            <secion class="recruitment">
        <h2>Interested?</h2>
         <div class="buttons">
          <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary homebutton" %>
          
          <span>Or</span>
          
          <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary homebutton" %>
         </div>
          <br>
          <span id="information">For More Information</span>
          
     </secion>
        </div>
</section>


<section class="performance-randalllab">
    <a name="id4"></a>
    <div class="col-md-6">
        <h1>Location</h1>
        <p>Practicing occurs on the fourth floor of Randall Lab on central campus at room 4404.  Thanks to the Physics Departments continuing support, our groups have been able to improve and grow.   </p>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
<iframe
         width="600"
         height="450"
         zoom="10"
         frameborder="0" style="border:0"
         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCqT_gBzYu5_rKniArqi7jAVEXyA6MGFNw
           &q=Randall+Laboratory,Ann+Arbor+MI">
</iframe>
    </div>
</section>




<script>
			
			function scrollToAnchor(aid){
        var aTag = $("a[name='"+ aid +"']");
        $('html,body').animate({scrollTop: aTag.offset().top},'slow');
              }

        $("#link1").click(function() {
         scrollToAnchor('id1');
          });
          
          
        $("#link2").click(function() {
        	scrollToAnchor('id2');
        });
        
        $("#link3").click(function() {
        	scrollToAnchor('id3');
        });
        
        $("#link4").click(function() {
        	scrollToAnchor('id4');
        });
        
          
		</script>
